.postHeader {
  margin-bottom: 2rem;
  max-width: 70ch;
  padding-bottom: 1.5rem;
  border-bottom: 8px solid var(--color-gray);
}

.postTitle {
  font-size: var(--font-size-xxl);
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
  text-wrap: balance;
}

.postSubtitle {
  font-size: var(--font-size-lg);
  line-height: 1.4;
  color: rgba(12, 12, 12, 0.7);
  margin: 0 0 2rem 0;
  text-wrap: balance;
}

.postDate {
  display: block;
  font-size: var(--font-size-sm);
  color: rgba(12, 12, 12, 0.6);
  font-weight: 500;
  letter-spacing: 0.02em;
  margin: 0;
}
