.postHeader {
  margin-bottom: 2rem;
  max-width: 70ch;
  padding-bottom: 1.5rem;
  border-bottom: 8px solid var(--color-shade);
}

.postTitle {
  font-size: var(--font-size-xxl);
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.2;
  margin: 0 0 0.5rem 0;
  text-wrap: balance;
}

.postSubtitle {
  font-size: var(--font-size-lg);
  line-height: 1.4;
  color: var(--color-muted);
  margin: 0 0 2rem 0;
  text-wrap: balance;
}

.postMeta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-sm);
  color: var(--color-muted-light);
}

.postDate {
  font-weight: 500;
  letter-spacing: 0.02em;
  margin: 0;
}

.postByline {
  font-weight: 500;
}

.postByline a {
  color: var(--color-black);
}
