.mdxContent {
  --heading-weight: 500;
  --heading-letter-spacing-lg: -0.02em;
  --heading-letter-spacing-sm: -0.01em;
}

.mdxContent h1 {
  font-size: var(--font-size-xxl);
  font-weight: var(--heading-weight);
  letter-spacing: var(--heading-letter-spacing-lg);
}

.mdxContent h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--heading-weight);
  letter-spacing: var(--heading-letter-spacing-lg);
}

.mdxContent h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--heading-weight);
  letter-spacing: var(--heading-letter-spacing-sm);
}

.mdxContent h4 {
  font-size: var(--font-size-md);
  font-weight: var(--heading-weight);
  letter-spacing: var(--heading-letter-spacing-sm);
}

.mdxContent p {
  font-size: var(--font-size-md);
}

.mdxContent a {
  font-weight: medium;
  text-decoration: underline;
  background: var(--color-cream);
  transition: filter 50ms ease;
}

.mdxContent a:hover {
  filter: brightness(115%);
}

.mdxContent table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
  font-size: var(--font-size-md);
}

.mdxContent th {
  text-align: left;
  padding: 0.75rem;
  border-bottom: 2px solid var(--color-black);
  font-weight: bold;
}

.mdxContent td {
  padding: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mdxContent tr:nth-child(even) {
  background-color: rgba(252, 228, 129, 0.2);
}

.mdxContent tr:hover {
  background-color: rgba(252, 228, 129, 0.4);
}
