*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --color-black: #0c0c0c;
  --color-yellow: #fcd34d;
  --color-cream: #fce481;

  --font-size-md: 1rem;
  --font-size-lg: 1.2rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2.5rem;

  --background: var(--color-yellow);
  --foreground: var(--color-black);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font: inherit;
  line-height: 1.4;
  font-family: var(--font-america), Helvetica, Arial, sans-serif;
}

::selection {
  background: var(--color-cream);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  list-style-type: square;
}
