*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --color-black: #0c0c0c;
  --color-yellow: #fcd34d;
  --color-cream: #fce481;
  --color-muted: rgba(12, 12, 12, 0.7);
  --color-muted-light: rgba(12, 12, 12, 0.6);
  --color-shade: rgba(0, 0, 0, 0.05);

  --font-size-sm: .9rem;
  --font-size-md: 1.1rem;
  --font-size-lg: 1.3rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2.5rem;

  --background: var(--color-yellow);
  --foreground: var(--color-black);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font: inherit;
  font-size: var(--font-size-md);
  line-height: 1.6;
  font-family: var(--font-inter), Helvetica, Arial, sans-serif;
}

::selection {
  background: var(--color-cream);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  list-style-type: square;
}
