.padding {
  min-height: 100dvh;
  height: 100%;
  padding: 3%;
}

.main {
  max-width: 60ch;
  min-width: 50vw;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullscreen {
  min-height: 100dvh;
  min-width: 100dvw;
  height: 100%;
}

.page {
  min-height: 100dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .padding {
    padding: 2rem 4rem;
  }
}
