.bodyText {
  font-size: 1.5rem;
  line-height: 2rem;
}

.homepageLink {
  color: black;
  background-color: var(--color-cream);
  text-decoration: underline;
  transition: filter 100ms ease-out;
}

.homepageLink:hover {
  filter: brightness(115%);
}

.footer {
  padding-bottom: 1.5rem;
}

.emailText {
  color: black;
  transition: filter 100ms ease-out;
  font-size: 1rem;
}

.bodyParagraph {
  margin-bottom: 2rem;
  letter-spacing: -0.005em;
}

@media (min-width: 576px) {
  .bodyText {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  .footer {
    padding-bottom: 0;
  }

  .emailText {
    font-size: 1.625rem;
  }
}

@media (min-width: 768px) {
  .bodyText {
    max-width: 85%;
  }
}

@media (min-width: 1024px) {
  .bodyText {
    max-width: 60%;
  }
}

@media (min-width: 2048px) { /* xlarge */
  .bodyText {
    font-size: calc(1vw + 2rem);
    line-height: 1.3;
  }
}
