@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0px, 5px, 0px);
  }
  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.page {
  min-height: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bodyText {
  font-size: 1.5rem;
  line-height: 2rem;
}

.homepageLink {
  color: black;
  background-color: cream;
  text-decoration: underline;
  transition: filter 100ms ease-out;
}

.homepageLink:hover {
  filter: brightness(115%);
}

.footer {
  padding-bottom: 1.5rem;
}

.emailText {
  color: black;
  transition: filter 100ms ease-out;
  font-size: 1rem;
}

.bodyParagraph {
  margin-bottom: 2rem;
}

/* Media Queries */
@media (min-width: 576px) { /* small */
  .bodyText {
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  .footer {
    padding-bottom: 0;
  }

  .emailText {
    font-size: 1.625rem;
  }
}

@media (min-width: 768px) { /* medium */
  .bodyText {
    max-width: 85%;
  }
}

@media (min-width: 992px) { /* large */
  .bodyText {
    max-width: 60%;
  }
}

@media (min-width: 1200px) { /* xlarge */
  .bodyText {
    font-size: calc(1vw + 2rem);
    line-height: 1.3;
  }
}
