.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.75rem;
  color: var(--color-black);
  font-size: var(--font-size-xl);
  font-size: 1.5rem;
  line-height: 1.1;
}

.nameLink {
  color: inherit;
  letter-spacing: -1px;
}

.links {
  display: flex;
  gap: 0.8rem;
}

.link {
  font-size: var(--font-size-lg);
  position: relative;
  padding: 8px;
}

.link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--color-cream);
  transform: translate(-50%) scale(1.0, 0.95);
  opacity: 0;
  transform-origin: center;
  z-index: -1;
}

.link:hover::before,
.linkActive::before {
  opacity: 1;
}

@media (min-width: 576px) {
  .headerWrapper {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
