.h1 {
  font-size: var(--font-size-xxl);
}

.h2 {
  font-size: var(--font-size-xl);
}

.h3 {
  font-size: var(--font-size-lg);
}

.h4 {
  font-size: var(--font-size-md);
}

.p {
  font-size: var(--font-size-md);
}

.a {
  font-weight: medium;
  text-decoration: underline;
  background: var(--color-cream);
  transition: filter 50ms ease;

  &:hover {
    filter: brightness(115%);
  }
}
