.videoWrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

